{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<style>
    .option-block {
        background-color: #ffffff;
        border: 1px solid #dee2e6;
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
{% endblock %}
{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-4 mb-3">
        <div class="option-block">
            <img width="96" height="96" src="https://img.icons8.com/color/96/youtube-play.png" alt="youtube-play" />
            <p class="font-weight-bold">Download Youtube videos in high resolution.</p>
            <a href="/download" class="btn btn-danger">Select</a>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="option-block">
            <img width="96" height="96" src="https://img.icons8.com/color/96/instagram-new--v1.png"
                alt="instagram-new--v1" />
            <p class="font-weight-bold">Download Instagram videos in high resolution.</p>
            <a href="#" class="btn btn-primary" disabled>Select</a>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="option-block">
            <img width="96" height="96" src="https://img.icons8.com/color/96/facebook-new.png" alt="facebook-new" />
            <p class="font-weight-bold">Download Facebook videos in high resolution.</p>
            <a href="#" class="btn btn-primary" disabled>Select</a>
        </div>
    </div>
</div>
{% endblock %}