{% extends "layout.html" %}
{% block title %}Youtube Video Downloader{% endblock %}
{% block head %}
<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 100px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container text-center">
    <h1 class="mb-4">YouTube Video Downloader</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form action="/download" method="post" id="downloadForm">
                        <div class="mb-3">
                            <label for="video_url" class="form-label">Enter YouTube Video URL:</label>
                            <input type="text" class="form-control mb-4" id="video_url" name="video_url" required>
                            <div class="mb-3">
                                <label for="resolution" class="form-label">Select Video Resolution:</label>
                                <select class="form-select" id="resolution" name="resolution" placeholder="https://youtu.be/8JhdiDhdgdfg">
                                    <option value="144p">144p</option>
                                    <option value="240p">240p</option>
                                    <option value="360p" checked>360p</option>
                                    <option value="480p">480p</option>
                                    <option value="720p">720p</option>
                                    <option value="1080p">1080p</option>
                                </select>
                            </div>
                            <small class="text-danger" id="errorText" style="display: none;">Please enter a valid
                                YouTube video URL.</small>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Download</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript code
    document.getElementById("downloadForm").addEventListener("submit", function (event) {
        var videoUrl = document.getElementById("video_url").value;
        if (!isValidYouTubeUrl(videoUrl)) {
            event.preventDefault();
            document.getElementById("errorText").style.display = "block";
        } else {
            document.getElementById("errorText").style.display = "none";
        }
    });

    function isValidYouTubeUrl(url) {
        var youtubeRegex = /^(?:(?:https?:)?\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|shorts\/))([\w-]{11})(?:\S+)?$/;
        return youtubeRegex.test(url);
    }
</script>
{% endblock %}